@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blue: #3B49DF;
  --grey: #F5F5F5;
  --light-grey: #FAFAFA;
}
body{
  background: var(--grey);
}
.button{
  color: var(--blue);
  border: 1px solid var(--blue);
}
.text-blue{
  color: var(--blue);
}
.bg-blue{
  background: var(--blue);
}
.light-grey-bg{
  background: var(--light-grey);
}
.leading-11{
  line-height: 2.8rem
}
.text-title{
  font-size: 1.5rem;
}
ul{
  list-style: disc;
  list-style-position: inside;
}
.rotate{
  transform: rotate(-10deg);
}